
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script> // compute navbar size and store it in navbarHeight of body
  function adjustBodyPadding() {
    var navbar = document.querySelector(".navbar");

    if (navbar) {
      var navbarHeight = navbar.offsetHeight;
      document.body.style.paddingTop = (navbarHeight + 10) + "px"; // Set padding dynamically
    }
  }

  window.addEventListener("load", adjustBodyPadding);
  window.addEventListener("resize", adjustBodyPadding);
</script>

